footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    background: #000;
 }
 
 @media all and (min-width: 992px) and (max-width: 1199.98px) {
    footer {
       padding: 28px;
    }
 }
 
 @media all and (min-width: 576px) and (max-width: 767.98px) {
    footer {
       font-size: 15px;
    }
 }
 
 @media all and (max-width: 575.98px) {
    footer {
       font-size: 14px;
       padding: 20px;
    }
 }